@{
    Layout = "_MainPage";
}


<!-- Start Content-->
<div class="container-fluid">

    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <div class="breadcrumb p-0 m-0">                        
                        <div class="button-list">
                            <form action="/Product/searchProduct" method="post">
                                <table>
                                    <tr>
                                        <td class="col-md-2"><input type="text" name="name" id="name" placeholder="Search Product" /></td>
                                        <td> <input type="submit" value="Search" class="btn btn-success" /></td>
                                    </tr>
                                </table>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

    <!-- end page title -->

    <div class="row">
        <div class="col-lg-12">
            <div class="card card-border card-primary">
                <div class="card-header border-primary bg-transparent pb-0">
                    <h3 class="card-title text-primary">User Details</h3>
                </div>
                <div class="card-body">
                    <div class="row table-rep-plugin">
                        <div class="col-md-12 col-sm-12 col-12 table-responsive mb-0" data-pattern="priority-columns">
                            <table id="datatable" class="table table-striped text-center table-hover table-small-font table-bordered nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                <thead>
                                    <tr class="text-black text-center fw-bold bg-warning">
                                        <td>Name</td>
                                        <td>Description</td>
                                        <td>Price</td>
                                        <td>Photo</td>
                                    </tr>
                                </thead>

                                <tbody>
                                    @foreach (Product product in ViewBag.product)
                                    {
                                        <tr>
                                            <td>@product.Name</td>
                                            <td>@product.Description</td>
                                            <td>@product.Price</td>
                                            <td><a href="~/Images/@product.Image" target="_blank"><img src="~/Images/@product.Image" height="50px" /></a></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>   <!-- End Row -->
</div>  <!-- end container-fluid -->