


<form action="/Login/verifyOTP" method="post">
    
    <label for="OTP">Verify OTP</label>
    <input type="text" name="otpCode" id="otpCode" placeholder="from your email address" /> <br /><br />
    <input type="reset" value="Clear" />
    <input type="submit" value="Verify Code" />



</form>